.about-img {
  height: "800px";
  @media (max-width: 320px) {
    height: 400px;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
