@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  opacity: 0;
}

.slide-in-right {
  opacity: 0;
}

.show.slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

.show.slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}
