/* #1D3557
#2F6B3A
#5CA9E9
#F1FAEE
#EED6B3 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  background-image: url("./assets/opera-house.avif");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center 35%;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}