* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

/* #1D3557
#2F6B3A
#5CA9E9
#F1FAEE
#EED6B3 */
