* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  background-color: #0d0d0d;
}

@media (max-width: 800px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
