* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: calc(100vw - 15px);

  @media (max-width: 768px) {
    width: 100vw;
  }
}
