* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: calc(100vw - 15px);

  @media (max-width: 768px) {
    width: calc(100vw);
  }
}
